//--
  - It contains template for the not found
  -/ 
v-container(fluid)
  .d-block.text-center.text-h4.font-weight-bold Page not found
  v-img.mt-12(
    ref    = "image_not_found"
    src    = "~@/assets/images/not-found.svg"
    height = "650"
    contain
  )