//--
  - It contains template for memory app home page.
  -/
v-container.pa-3.ml-6
  v-row
    v-col.col-md-3
      v-select(
        :items    = "possibleNumberOfCards"
        :label    = "$CONSTANTS.LABELS.NUMBER_OF_CARDS"
        v-model   = "numberOfCards"
        @input    = "generateRandomValues()"
        :disabled = "isGameStarted"
        id        = "select_cards"
      )
    v-col.col-md-3
      v-btn.mt-4(
        ref       = "button_play_game" 
        color     = "primary lighten-2"
        @click    = "startGame()"
        :disabled = "isGameStarted || numberOfCards == -1"
      ) {{ $CONSTANTS.LABELS.PLAY }}
  v-row(ref = "row_random_values")
    v-col.col-md-2.offset-md-1(
      v-for = "(randomValue, index) in randomValues"
      :key  = `randomValue.value__${new Date().getTime()}`
    )
      v-card.elevation-2(
        height    = "150"
        :disabled = "randomValue.selected"
        @click    = "isGameStarted ? validateOrder(randomValue, index) : {}"
      )
        v-card-title.pa-0.justify-center(v-if = "isGameStarted") 
          .d-block.text-center.subtitle-1.validation-message(:class = "randomValue.color") {{ randomValue.valid }}
        v-card-text
          .d-block.text-center(
            :class = "randomValue.valid ? 'pt-5' : 'pt-7'"
          )
            span.font-weight-bold.text-h2(v-if="!isGameStarted || randomValue.selected") {{ randomValue.value }}