//--
  - It contains template for default layout.
  -/

v-app
  v-app-bar(
    color="info"
    flat app 
  )
    v-app-bar-title
      v-img.justify-left(
        ref    = "image_logo"
        src    = "@/assets/images/memory-game-logo.svg"
        height = "42"
        width  = "50"
        contain
      )
    span.subtitle-1 Memory test
  v-main
    slot